header {
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    width: 100vw;
    padding: 0 4rem .5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0);

    transition: all 500ms ease;   
}

.solidBg {
    background-color: white;
    border-bottom: 1px solid lightgray;

    transition: all 500ms ease;
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icons {
    font-size: 1.5rem;
}


@media (max-width: 1200px) {
    header {
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {
    .icons {
        font-size: 1.25rem;
    }
}