.sideNav {
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 100;
}

.leftSide {
  width: 22rem;
  left: 0;
  background: var(--main-black);
}

.rightSide {
  width: 25rem;
  right: 0;
  background: var(--main-white);

}

.sideNav ul {
  flex-direction: column;
}

.main {
  padding: 2rem;
}

.exit {
  display: flex;
  flex-direction: column;
  border: none;
  background: inherit;
  padding: 0 0 2rem;
  height: 1rem;
  width: 100%;
  
}

.white {
  color: var(--main-white);
}

.black {
  color: var(--main-black);
  align-items: end;
}

@media (max-width: 640px) {
  .leftSide, .rightSide {
    width: calc(100% - 4rem);
  }
}