.main {
  width: 100%;
  max-width: 68rem;
  margin: 1rem auto;
}

.cardWrapper {
  width: 100%;
  padding: 0 0 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
}

.button {
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 105%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  pointer-events: none;
}

.controls button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0;
  border: none;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.06), 0 4px 20px rgba(0, 0, 0, 0.08);
  background-color: white;

  pointer-events: all;
}

.coverFlowSwiper {
  width: 100%;
  max-width: 70rem;
  padding-top: 50px;
  padding-bottom: 50px;

}

.coverFlowSwiperSlide {
  background-position: center;
  background-size: cover;
  width: 20rem;
  height: 20rem !important;
  overflow: hidden;
}

.coverFlowSwiperSlide img {
  object-fit: fill;
  display: block;
  height: 100%;
  transition: all 300ms ease-in-out;
}

.active {
  opacity: 1;
}

.nextInLine {
  opacity: 0.5;
}

.unactive {
  opacity: 0.1;
}


@media (max-width: 1272px) {
  .main {
    width: 90%;
  }
}

@media (max-width: 530px) {
  .controls {
    display: none;
  }

  .main {
    width: 100%;
  }
}
