.main {
  width: 100%;
  max-width: 68rem;
  margin: 1rem auto;
}

.cardWrapper {
  width: 100%;
  padding: 0 0 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
  cursor: pointer;
}

.button {
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 105%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  pointer-events: none;
}

.controls button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0;
  border: none;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.06), 0 4px 20px rgba(0, 0, 0, 0.08);
  background-color: white;

  pointer-events: all;
}

@media (max-width: 1272px) {
  .main {
    width: 90%;
  }
}

@media (max-width: 530px) {
  .controls {
    display: none;
  }

  .main {
    width: 100%;
  }
}
